.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.hidden {
  visibility: hidden;
  height: 0px;
}

.matches {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 20vh;
  overflow: auto;
}
