.container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  .matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .match {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin-bottom: 1em;
      background-color: aliceblue;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    input {
      width: 70%;
      margin-bottom: 1em;
    }
  }
}
