<div class="pitch">
  <h1>
    Composition pour le match contre {{ match.opponent }} du <span class="date">{{ match.date | datePipe }}</span>
  </h1>
  @if (match.team_id != null) {
    @for (player of team.players; track $index) {
      <h3>{{ player.role }} : 
        @if (!modification) {
        {{ player.name }}
        }
        @else {
          <!-- select between all players -->
            <mat-select [(value)]="player.id" (selectionChange)="updatePlayer($event, player)">
              <mat-option *ngFor="let playerselect of playersAvailable" [value]="playerselect.id">
                {{ playerselect.name }}
              </mat-option>
            </mat-select>
        }
      </h3>
    }
    <button mat-raised-button color="primary" (click)="modify()">Modifier l'équipe</button>

    <svg width="250px" height="250px" viewBox="0 0 700 600" xmlns="http://www.w3.org/2000/svg">
      <!-- Football Field SVG starts -->
      <rect x="0" y="0" width="100%" height="100%" fill="green" />
      <rect x="10%" y="10%" width="80%" height="80%" fill="none" stroke="white" stroke-width="2" />
      <!-- <line x1="10%" y1="50%" x2="90%" y2="50%" stroke="white" stroke-width="2" /> -->
      <!-- Add more field details here -->
      <!-- Football Field SVG ends -->
      <g *ngFor="let player of team.players; let i = index">
        <circle [attr.cx]="player.position?.y" [attr.cy]="player.position?.x" r="20" fill="blue" />
        <text [attr.x]="player.position?.y" [attr.y]="player.position!.x + 30" text-anchor="middle" fill="white" font-size="4em">
          {{ player.name }}
        </text>
      </g>
    </svg>
    @if (absentPlayers.length > 0) {
      <h2>Joueurs absents à cette date</h2>
      @for (player of absentPlayers; track $index) {
        <h3>{{ player.role }} : {{ player.name }}</h3>
      }
    }
  } @else {
    <p>Vous n'avez pas encore de composition pour ce match.</p>
    <mat-error *ngIf="errorGenerate"> Erreur lors de la génération de l'équipe : {{ errorGenerate }} </mat-error>
    @if (this.isAdmin) {
      <button mat-raised-button color="primary" (click)="createTeam()">Créer une équipe aléatoire</button>
    }
  }
  <button mat-raised-button color="primary" [routerLink]="['/matches']" routerLinkActive="router-link-active">Revenir aux matchs</button>
</div>
